@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}
main {
  padding: 60px;
}
pre {
  background: #80808008;
  font-size: 16px;
  line-height: 26px;
  border: 2px solid whitesmoke;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
  overflow-y: auto;
}
h2 {
  text-transform: uppercase;
  color: #1536e7;
  margin-top: 30px;
}
h3 {
  color: #ed0707;
}
ul li {
  font-size: 15px;
  line-height: 2;
}